/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14.11.2018, 13:19:05
    Author     : Developer
*/
.u-right {
  float: right;
}
.u-hidden {
  display: none;
  visibility: hidden;
}
.u-pointer {
  cursor: pointer;
}
div.main-page {
  width: 100%;
}
div.content {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
}
div.header {
  display: table;
  height: 250px;
  background-image: url(/img/logo.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-size: 900px 250px;
}
div.header div.column-left {
  display: table-cell;
  width: 50%;
}
div.column-right {
  display: table-cell;
  width: 50%;
  text-align: right;
  color: #ffffff;
}
div.column-right div.owner {
  padding: 0 20px 0 0;
  vertical-align: top;
  position: relative;
  top: -40px;
  font-family: Arial;
  text-shadow: 1px 1px gray, 1px 1px grey;
}
div.column-right div.contacts {
  padding: 0 20px 20px 0;
  vertical-align: bottom;
  font-size: 1.25em;
}
div.column-right div.contacts i.fa {
  padding: 0 5px;
}
div.title1 {
  font-family: dotf;
  padding: 40px 0 20px 40px;
  font-size: 2em;
  color: #ffffff;
  text-shadow: 2px 2px black, 2px 2px grey;
}
div.title2 {
  font-family: heading;
  padding: 0 0 0 40px;
  font-size: 10em;
  color: #ffffff;
  line-height: 0.25em;
  text-shadow: 2px 2px gray, 2px 2px grey;
}
.viber-icon {
  background-image: url(/img/viber.png);
  display: block;
  height: 32px;
  width: 32px;
}
div.service-area {
  font-family: Arial;
  font-size: 1.75em;
}
div.service-area div.service-header {
  padding: 0.25em 0.5em;
  border-bottom: 6px solid #a04000;
  cursor: pointer;
}
div.service-area div.service-items {
  display: table;
  border: 1px solid #ddd;
  width: 100%;
  font-size: 0.75em;
}
div.service-area div.service-items div.service-row {
  display: table-row;
}
div.service-area div.service-items div.service-row.end-group div.service-info {
  border-bottom: 1px solid #a04000;
}
div.service-area div.service-items div.service-row.end-group div.service-name {
  border-bottom: 1px solid #ffffff;
}
div.service-area div.service-items div.service-row:nth-child(odd) {
  background-color: #a7bfde;
}
div.service-area div.service-items div.service-row:nth-child(even) {
  background-color: #edf2f8;
}
div.service-area div.service-items div.service-empty {
  display: table-cell;
  background-color: #ffffff;
  padding: 0.25em;
}
div.service-area div.service-items div.service-empty span {
  padding: 0.25em;
}
div.service-area div.service-items div.service-name {
  display: table-cell;
  background-color: #2c4c74;
  color: #ffffff;
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  padding: 0.25em;
  white-space: nowrap;
}
div.service-area div.service-items div.service-name.group {
  border-bottom: none;
}
div.service-area div.service-items div.service-name span {
  padding: 0.25em;
}
div.service-area div.service-items div.service-info {
  display: table-cell;
  text-align: center;
  border-right: 1px solid #ffffff;
  padding: 0.25em;
}
div.service-area div.service-items div.service-info span {
  padding: 0.25em;
}
div.service-area div.service-items div.service-info span .addition {
  font-size: 0.55em;
}
div.service-area div.service-items div.service-info:last-child {
  border-right: none;
}
footer {
  font-family: Arial;
  text-align: right;
  padding: 1em 0;
  color: gray;
  font-size: 0.75em;
  border-top: 1px solid gray;
}
/*# sourceMappingURL=prizma.css.map */